Requirements:

1 x 3D print
6 x 3.5mm socket ( http://s.click.aliexpress.com/e/Kc5NQbvO )
6x keyboard switch ( https://s.click.aliexpress.com/e/_dUbJJ0P )
6x keycap ( https://s.click.aliexpress.com/e/_dVV07rd )
wire ( https://www.aliexpress.com/item/802052578.html?spm=a2g0s.9042311.0.0.27424c4dJSQu5i )
soldering iron
hot glue
velcro
