Requirements:

1 x 3D print
1 x joystick with click ( https://s.click.aliexpress.com/e/_dXcPFeD )
3 x 3.5mm socket ( http://s.click.aliexpress.com/e/Kc5NQbvO )
wire ( https://www.aliexpress.com/item/802052578.html?spm=a2g0s.9042311.0.0.27424c4dJSQu5i )
soldering iron
hot glue

