1x 3D print
4x 3.5mm socket ( http://s.click.aliexpress.com/e/Kc5NQbvO )
4x button ( http://s.click.aliexpress.com/e/knbtdGLW )
wire ( https://www.aliexpress.com/item/802052578.html?spm=a2g0s.9042311.0.0.27424c4dJSQu5i )
2x 3 pieces of velcro ( optional, from action local shop )

soldering iron
hot glue
