1x 3D printed model
1x 3.5mm jack ( http://s.click.aliexpress.com/e/Kc5NQbvO )
1x pushbutton ( http://s.click.aliexpress.com/e/czLvjaAG )
wire ( https://www.aliexpress.com/item/802052578.html?spm=a2g0s.9042311.0.0.27424c4dJSQu5i )
Soldering iron
Hot glue
Velcro (optional)