requirements:

1x 3D printed model
1x 3.5mm socket ( http://s.click.aliexpress.com/e/Kc5NQbvO )
1x arcade button ( http://s.click.aliexpress.com/e/DezzYWD2  )
wire  ( https://www.aliexpress.com/item/802052578.html?spm=a2g0s.9042311.0.0.27424c4dJSQu5i )
velcro

soldering iron
hot glue