Requirements:

1 x footpedal
1 x 3.5mm socket ( http://s.click.aliexpress.com/e/Kc5NQbvO )
wire ( https://www.aliexpress.com/item/802052578.html?spm=a2g0s.9042311.0.0.27424c4dJSQu5i )
screwdriver
soldering iron
hot glue

